<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar Usuario - Gestor de Notas</title>
</head>
<body>
    <form action="/resultado_busqueda" method="get">
        <h1>Buscar información de usuario</h1>
        <p>Ingrese el nombre de usuario para consultar sus notas.</p>
        <div>
            Nombre de usuario: <input type="text" name="nombre_usuario" required />
        </div>
        <br>
        <input type="submit" value="Buscar" />
    </form>
</body>
</html>