{% extends "base.html" %}

{% block content %}
<h2>Insertar Nota</h2>
<form method="post" action="{{ url_for('insertar_nota') }}">
    <input type="text" name="titulo" placeholder="Título de la nota" required>
    <input type="text" name="contenido" placeholder="Contenido (0.0 - 5.0)" required>
    <button type="submit">Guardar Nota</button>
</form>

<a href="{{ url_for('menu_usuario') }}"><button>Volver al Menú</button></a>
<a href="{{ url_for('logout') }}"><button>Cerrar Sesión</button></a>
{% endblock %}